version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - DB_USERNAME=postgres
      - DB_PASSWORD=TopSecretPassword123!
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/hospital_db
    depends_on:
      - db
    restart: always

  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=hospital_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=TopSecretPassword123!
    volumes:
      - db_data:/var/lib/postgresql/data
    restart: always

volumes:
  db_data:
